blockquote.text-center Lee sobre nuestros clientes y sus experiencias
.row.reviews
  each review in reviews
    .col-md-6.col-lg-4.mb-4
      .card
        .card-body
          blockquote.blockquote
          p.mb-0.text-justify
            | #{review.mensaje}
          footer.blockquote-footer
            | #{review.nombre}
